<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.denyskostetskyi.weatherforecast">

    <permission
        android:name="com.denyskostetskyi.weatherforecast.permission.WEATHER_FORECAST_SERVICE"
        android:label="@string/permission_description"
        android:protectionLevel="signature" />
</manifest>
